name: Linter and code style

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  lint_and_style:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.4.0
    - uses: actions/setup-node@v2.5.1
      with:
        node-version: 16.x

    - name: Install dependencies
      run: npm ci

    - name: Run prettier
      run: npx prettier --check .

    - name: Run check-dts
      run: npx check-dts

    - name: Run eslint
      run: npm run lint
