# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Tests

on:
  push:
    branches: [ master, prefixes-update ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    strategy:
      fail-fast: false
      matrix:
        node-version:
        - 'lts/*'
        - 'latest'

    steps:
    - uses: actions/checkout@v5

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm

    - name: Install dependencies
      run: npm ci

    - name: Run tests (without sass support)
      run: |
        npm test

    - name: Install sass package
      run: |
        # https://github.com/macbre/analyze-css/blob/devel/package-lock.json
        # e.g. sass@1.42.1
        export SASS_WITH_VERSION=$(grep 'registry.npmjs.org/sass/' package-lock.json | egrep -o 'sass-[0-9\.]+' | head -n 1 | sed 's/-/@/' | sed 's/\.$//g')

        echo "Installing ${SASS_WITH_VERSION} ..."

        set -x
        time npm install ${SASS_WITH_VERSION}

    - name: Run tests (with sass support)
      run: |
        npm test

    # https://github.com/marketplace/actions/coveralls-github-action
    # upload coverage report for just one of Node.js version matrix runs
    - name: Upload coverage report to Coveralls
      if: matrix.node-version == 'latest'
      uses: coverallsapp/github-action@v2.3.6
      continue-on-error: true
      with:
        github-token: ${{ github.token }}

    - name: Run bin/analyze-css.js for CSS file
      run: ./bin/analyze-css.js --file examples/ti.mobile.css  -p | jq .metrics | grep '"'

    - name: Run bin/analyze-css.js for SCSS file
      run: ./bin/analyze-css.js --file examples/base.scss  -p | jq .offenders | grep '"'

    - name: Run bin/analyze-css.js for stdin-provided CSS
      run: cat examples/ti.mobile.css | ./bin/analyze-css.js - | jq .metrics | grep '"'

    - name: Run bin/analyze-css.js for external file over HTTP
      run: ./bin/analyze-css.js --url http://s3.macbre.net/analyze-css/propertyResets.css -p | jq .metrics | grep '"'

    - name: Run bin/analyze-css.js for external file over HTTPS (--ignore-ssl-errors)
      run: ./bin/analyze-css.js --url https://s3.macbre.net/analyze-css/propertyResets.css --ignore-ssl-errors | jq .metrics | grep '"'
