name: CSS prefixes

# Controls when the action will run.
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 5 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    env:
      GIT_BRANCH: "master"
      GIT_USER_NAME: "macbre"
      GIT_USER_EMAIL: "<macbre@users.noreply.github.com>"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # https://github.com/actions/checkout
      - name: Cloning ${{ env.GIT_BRANCH }} branch
        uses: actions/checkout@v2-beta
        with:
          ref: ${{ env.GIT_BRANCH }}

      - name: Install Node.js
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 16.x

      - name: Update prefixes
        run: |
          npm ci
          npm run prefixes

      # https://github.com/actions/checkout#push-a-commit-using-the-built-in-token
      - name: Set up git and gh CLI tool
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
          gh auth status

          git config user.name ${GIT_USER_NAME}
          git config user.email ${GIT_USER_EMAIL}

      - name: Show a diff
        run: |
          git checkout -- package*
          git diff

      - name: Commit if needed to a new branch (and create a PR)
        continue-on-error: true
        run: |
          set -x

          export PR_BRANCH="prefixes-update"
          git checkout -b ${PR_BRANCH}
          git add rules/prefixes.json && git checkout -- .
          git commit -m 'Updating rules/prefixes.json' \
            && git push origin ${PR_BRANCH} --force \
            && gh pr create \
              --assignee macbre \
              --label dependencies \
              --label "css-prefixes-update" \
              --base ${{ env.GIT_BRANCH }} \
              --title "Updating prefixes rules"

          # automatically create a patch release
          # TODO: to happen on merges to master
          # npm run bump-version-patch
