name: CSS prefixes

# Controls when the action will run.
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 5 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    env:
      GIT_BRANCH: "master"
      GIT_USER_NAME: "macbre"
      GIT_USER_EMAIL: "<macbre@users.noreply.github.com>"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # https://github.com/actions/checkout
      - name: Cloning ${{ env.GIT_BRANCH }} branch
        uses: actions/checkout@v2-beta
        with:
          ref: ${{ env.GIT_BRANCH }}

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Update prefixes
        run: |
          npm ci
          npm run prefixes

      # https://github.com/actions/checkout#push-a-commit-using-the-built-in-token
      - name: Set up git and gh CLI tool
        run: |
          gh auth login --with-token ${{ secrets.GITHUB_TOKEN }}
          git config user.name ${GIT_USER_NAME}
          git config user.email ${GIT_USER_EMAIL}

      - name: Show a diff
        run: |
          git diff

      - name: Commit if needed to a new branch
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          export PR_BRANCH="prefixes-update"
          git checkout -b ${PR_BRANCH}
          git add rules/prefixes.json
          git commit -m 'Updating rules/prefixes.json' && git push origin ${PR_BRANCH} --force

          # automatically create a patch release
          npm run bump-version-patch

      # https://github.com/marketplace/actions/github-pull-request-action#advanced-options
      - name: Create a pull request from the changes above
        uses: repo-sync/pull-request@v2
        if: ${{ success() }}
        with:
          source_branch: "prefixes-update"  # see above
          destination_branch: ${{ env.GIT_BRANCH }}

          # When you use the repository's GITHUB_TOKEN to perform tasks on behalf of the GitHub Actions app,
          # events triggered by the GITHUB_TOKEN will not create a new workflow run.
          #
          # Use a repo scoped Personal Access Token (PAT) created on an account that has write access
          # to the repository that pull requests are being created in.
          #
          # https://github.com/peter-evans/create-pull-request/blob/master/docs/concepts-guidelines.md#triggering-further-workflow-runs
          github_token: ${{ secrets.PAT_TOKEN }}

          pr_label: "dependencies"
          pr_assignee: "macbre"
